* {
  padding: 0;
  margin: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  -ms-overflow-style: scrollbar; }

body {
  height: 100vh; }

.page-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.page-content {
  flex: 1; }

html,
body {
  height: 100%; }
  @media screen and (min-width: 1200px) {
    html,
    body {
      font-size: 16px; } }
  @media screen and (min-width: 992px) {
    html,
    body {
      font-size: 14px; } }
  @media screen and (min-width: 768px) {
    html,
    body {
      font-size: 12px; } }

.page-wrapper {
  font-size: 14px; }

.wrapper {
  display: flex;
  flex-direction: column; }

section.wrapper {
  max-width: 1920px;
  margin: 0 auto; }
  @media screen and (max-width: 1920px) {
    section.wrapper {
      max-width: 1920px; } }

.container {
  flex: 1 0 auto;
  z-index: 10; }

.footer {
  flex: 0 0 auto; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .page-wrapper {
    display: block;
    min-height: 100vh;
    flex-direction: column; } }

@-moz-document url-prefix() {
  .wrapper {
    height: auto; }
  html,
  body {
    height: auto; }
  input[type=number] {
    padding: 5px !important; } }

.hidden {
  display: none; }

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 576px) {
  .container {
    max-width: 100%; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px; } }

.icon {
  width: 20px;
  height: 20px; }

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 14px;
  line-height: 21px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: #080c14;
  background-color: #ffffff;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: hidden; }

.btn {
  cursor: pointer; }

.btn-primary {
  font-size: 18px;
  line-height: 18px;
  padding: 17px 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background: #1b1b1b;
  border-radius: 3px;
  border: 1px solid #1b1b1b;
  color: #ffffff;
  max-width: 180px;
  width: 100%; }
  .btn-primary:hover {
    background: transparent;
    color: #1b1b1b; }

.title-section {
  font-size: 32px;
  line-height: 32px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #1b1b1b;
  text-align: center; }

.label, .label-select, .label-textarea {
  width: 100%;
  display: block;
  margin-bottom: 10px; }
  .label span, .label-select span, .label-textarea span {
    display: block;
    font-size: 18px;
    line-height: 20px;
    color: #1b1b1b;
    margin-bottom: 10px;
    text-align: left; }

.input, .select, .textarea {
  width: 100%;
  height: 48px;
  padding: 10px;
  outline: none;
  border: 1px solid #e1e1e1;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #1b1b1b; }
  .input::-webkit-input-placeholder, .select::-webkit-input-placeholder, .textarea::-webkit-input-placeholder {
    color: #808080;
    opacity: 1; }
  .input::-moz-placeholder, .select::-moz-placeholder, .textarea::-moz-placeholder {
    color: #808080;
    opacity: 1; }
  .input:-moz-placeholder, .select:-moz-placeholder, .textarea:-moz-placeholder {
    color: #808080;
    opacity: 1; }
  .input::-ms-input-placeholder, .select::-ms-input-placeholder, .textarea::-ms-input-placeholder {
    color: #808080;
    opacity: 1; }
  .input:-ms-input-placeholder, .select:-ms-input-placeholder, .textarea:-ms-input-placeholder {
    color: #808080;
    opacity: 1; }

.select {
  padding: 0 12px;
  background-color: #ffffff;
  border-radius: 2px;
  text-overflow: ellipsis;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-size: 10px;
  background-position: center right 10px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='gray' viewBox='0 0 5 4'%3E%3Cpath d='M2.5 3.9L.3.1h4.4z'/%3E%3C/svg%3E"); }
  .select::-ms-expand {
    display: none; }
  .select__min {
    height: 35px;
    font-size: 13px;
    line-height: 19px; }
  .select[disabled] {
    color: #dadce6;
    background-color: #f3f4f8; }

.textarea {
  height: 100px;
  resize: none; }

.top-section img {
  display: block;
  width: 100%;
  margin: 0 auto; }

.title-section {
  font-family: "Roboto", sans-serif; }
  .title-section__red {
    font-size: 16px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    color: #d12211;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 3px; }
  .title-section__black {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -1px;
    font-weight: 900;
    color: #1e1e1e;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 40px; }
  .title-section.title-section__white .title-section__red {
    color: #ffffff; }
  .title-section.title-section__white .title-section__black {
    color: #ffffff; }

.inside-wrapper {
  padding: 64px 0;
  background: #f5f5f5;
  text-align: center; }
  .inside-wrapper .title-section__red {
    margin-bottom: 5px; }
  .inside-wrapper .title-section__black {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 15px; }
  .inside-wrapper .inside-text {
    max-width: 800px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #1e1e1e; }

.history-wrapper {
  padding: 100px 0 67px;
  text-align: center; }
  .history-wrapper .title-section__black {
    margin-bottom: 47px; }
  .history-wrapper .history-wrap {
    margin: 0 auto; }
    .history-wrapper .history-wrap__media {
      margin-bottom: 70px; }
      .history-wrapper .history-wrap__media img {
        margin: 0 auto; }
    .history-wrapper .history-wrap__text {
      max-width: 800px;
      font-size: 14px;
      line-height: 24px;
      font-weight: 300;
      font-family: "Roboto", sans-serif;
      color: #1e1e1e;
      margin: 0 auto 20px; }
    .history-wrapper .history-wrap__author {
      font-size: 14px;
      line-height: 24px;
      font-weight: 300;
      font-family: "Roboto", sans-serif;
      color: #1e1e1e;
      margin-bottom: 30px; }

.video-wrapper {
  background: #1b1b1b;
  height: 473px; }

.video-wrap {
  display: flex;
  align-items: center; }
  .video-wrap .title-section__black {
    margin-bottom: 30px; }
  .video-wrap .title-section__white {
    text-align: left; }
  .video-wrap__description {
    width: 50%;
    text-align: left;
    max-width: 540px;
    margin: 0 150px 0 auto; }
  .video-wrap__text {
    color: #ffffff;
    font-size: 14px;
    line-height: 24px; }
  .video-wrap__media {
    width: 50%;
    height: 473px; }
    .video-wrap__media img {
      max-height: 473px;
      width: 100%;
      height: 473px;
      object-fit: cover; }
    .video-wrap__media iframe {
      object-fit: cover;
      width: 100%;
      height: 100%; }

.reviews-wrapper {
  padding: 113px 0 89px; }

.reviews-item {
  display: flex;
  align-items: center;
  max-height: 580px; }
  .reviews-item:nth-child(2n) {
    flex-direction: row-reverse; }
    .reviews-item:nth-child(2n) .title-section, .reviews-item:nth-child(2n) .reviews-item__text {
      text-align: right; }
    .reviews-item:nth-child(2n) .reviews-item__des {
      padding: 0 70px 0 25px; }
  .reviews-item__media {
    width: 50%; }
    .reviews-item__media img {
      max-height: 580px;
      width: 100%;
      height: 100%; }
  .reviews-item__des {
    width: 50%;
    padding: 0 25px 0 70px; }
  .reviews-item .title-section {
    text-align: left; }
  .reviews-item .title-section__red {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 40px; }

.banner-wrapper {
  background-size: cover;
  min-height: 400px;
  padding: 100px 0; }
  .banner-wrapper .container {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .banner-wrapper .banner-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color: #ffffff;
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -1px; }

.bottom-logo {
  padding: 50px 0;
  background: #000; }
  .bottom-logo .logo-img {
    display: flex;
    align-items: center;
    justify-content: center; }

@media screen and (max-width: 1440px) {
  .video-wrap__media {
    margin: 0 0 0 auto; }
  .video-wrap__description {
    margin: 0;
    padding-left: 15px; } }

@media screen and (max-width: 1200px) {
  .history-wrapper {
    padding: 40px 0 40px; }
    .history-wrapper .history-wrap__media img {
      width: 100%; }
  .reviews-item {
    max-height: 465px; }
    .reviews-item:nth-child(2n) .reviews-item__des {
      padding: 0 40px 0 15px; }
    .reviews-item__des {
      padding: 0 15px 0 40px; } }

@media screen and (max-width: 992px) {
  .video-wrapper {
    height: auto;
    padding: 40px 0; }
  .video-wrap {
    flex-direction: column; }
    .video-wrap .title-section__white {
      text-align: center; }
    .video-wrap__description {
      width: 100%;
      max-width: 100%;
      text-align: center;
      margin-bottom: 30px;
      padding: 0 15px; }
    .video-wrap__media {
      margin: 0 auto;
      padding: 0 15px;
      height: 300px;
      width: 100%; }
      .video-wrap__media img {
        height: 100%;
        width: 100%;
        max-height: 100%; }
  .inside-wrapper {
    padding: 40px 0 20px; }
    .inside-wrapper .title-section__black {
      font-size: 32px;
      line-height: 38px; }
  .history-wrapper {
    padding: 40px 0 40px; }
    .history-wrapper .title-section__black {
      margin-bottom: 15px; }
    .history-wrapper .history-wrap__media {
      margin-bottom: 20px; }
  .reviews-wrapper {
    padding: 40px 0 40px; }
  .reviews-item {
    max-height: 100%;
    margin-bottom: 30px;
    flex-direction: column; }
    .reviews-item:nth-child(2n) {
      flex-direction: column; }
      .reviews-item:nth-child(2n) .title-section, .reviews-item:nth-child(2n) .reviews-item__text {
        text-align: center; }
    .reviews-item .title-section {
      text-align: center; }
    .reviews-item .title-section__red {
      margin-bottom: 10px; }
    .reviews-item .title-section__black {
      margin-bottom: 25px; }
    .reviews-item__des {
      width: 100%;
      padding: 0 !important; }
    .reviews-item__text {
      text-align: center; }
    .reviews-item__media {
      width: 100%; }
      .reviews-item__media img {
        max-height: 100%;
        width: 80%;
        height: 100%;
        margin: 0 auto 30px;
        display: block; }
  .banner-wrapper .banner-title {
    font-size: 28px;
    line-height: 36px; } }

@media screen and (max-width: 768px) {
  .title-section__black {
    font-size: 24px;
    line-height: 30px; }
  .banner-wrapper .banner-title {
    font-size: 22px;
    line-height: 28px; } }

@media screen and (max-width: 1200px) {
  .top-product .product-info {
    padding: 0; }
  .product-info__title {
    padding-top: 0; } }

@media screen and (max-width: 992px) {
  .top-product {
    padding: 40px 0; }
    .top-product .top-title {
      display: block;
      font-size: 34px;
      line-height: 34px;
      text-transform: uppercase;
      font-weight: 700;
      color: #1b1b1b;
      text-align: center;
      margin-bottom: 15px; }
    .top-product .product-info {
      width: 100%;
      margin: 0; }
    .top-product .product-slider {
      width: 100%;
      margin: 0 0 20px; }
    .top-product .gallery-top {
      height: 50%;
      width: 80%; }
  .product-about, .appointment-wrapper, .similar-wrapper {
    padding: 40px 0; }
  .product-info__title {
    display: none; }
  .top-product__wrap {
    flex-wrap: wrap;
    margin: 0; }
  .product-about__wrap {
    flex-wrap: wrap;
    margin: 0; }
  .product-about__des {
    width: 100%;
    margin: 0 0 30px; }
  .product-about__media {
    width: 100%;
    margin: 0 auto 30px;
    max-width: 500px; }
  .product-about .product-info__buttons ul li {
    width: 100%;
    padding-left: 0 !important; }
    .product-about .product-info__buttons ul li:after {
      display: none; } }

@media screen and (max-width: 767px) {
  .top-product .gallery-thumbs {
    padding: 15px 0; }
  .top-product .product-slider {
    margin-bottom: 10px; }
  .product-info__subtitle {
    margin-bottom: 10px; }
  .product-info__price {
    margin-bottom: 15px; }
  .product-info__buy {
    margin-bottom: 30px; }
  .product-info__text-btn {
    margin: 0 auto 15px; }
  .appointment-wrapper .appointment-form {
    max-width: 500px; } }

@media screen and (max-width: 576px) {
  .top-product .product-info__buttons ul li {
    width: 100%;
    padding-left: 0 !important; }
    .top-product .product-info__buttons ul li:after {
      display: none; } }

@media screen and (max-width: 480px) {
  .product-about .product-info__buttons ul li {
    flex-direction: column; }
    .product-about .product-info__buttons ul li img {
      margin-bottom: 5px; }
    .product-about .product-info__buttons ul li strong {
      margin-bottom: 5px; } }

@media screen and (max-width: 425px) {
  .top-product {
    padding: 40px 0 0; }
    .top-product .gallery-top {
      height: 100%;
      width: 100%; }
    .top-product .gallery-thumbs {
      max-width: 100%; }
      .top-product .gallery-thumbs .swiper-slide {
        width: 20%;
        padding: 0 5px; }
  .product-about__title {
    margin-bottom: 0; }
  .product-about__item {
    margin-bottom: 20px; }
  .title-section {
    font-size: 24px;
    line-height: 28px; } }
